*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url("./Images/output-onlinepngtools.png");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


html, 
body {
    height: 100%;
}


header nav{
    margin-top: 1.5rem;
    padding-right: 1.5rem;
}

li{
    list-style: none;
    margin-right: 1rem;
}



a{  
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 20rem;
}

.image{
    height: 11rem;
    width: auto;
}

/*.input{
    border: 2px solid gainsboro;
    border-radius: 2rem;
    height: 3.5rem;
    width: 35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
} */

button{
    padding: 0.7rem;
    background-color: #f8f9fa;
    border: 0.1rem solid #f8f9fa;;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    font-size: 1.4rem;
    color: #7e7e80;

}

button:hover{
    border: 0.1rem solid;
    border-radius: 0.4rem;
    border-color: #dddee2;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: black;
}

.foto{
    height: 3rem;
    width: auto;
    border-radius: 50%;
}

.container-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.7rem;
    height: 3.7rem;
    border: 0.1rem solid #f0f3ef;
    border-radius: 50%;
}

.container-foto:hover{
    border-color: #dddee2;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #dddee2;;
}


.icon{
    height: 2rem;
    width: auto;
}

.container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid #f0f3ef;
    border-radius: 1rem;
}

.container-icon:hover{
    border-color: #dddee2;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #dddee2;;
}


.input-container{
    border: 0.1rem solid;
    border-color: #e7e8eb;
    border-radius: 2rem;
    height: 4rem;
    width: 35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    height: 3.8rem;
    width: 25rem;
    border: none;
    outline: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.input-container:hover{
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}

.search{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.4;
}

.micro{
    background-image: url("./Images/micro_google.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
}

footer{
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border-top: 0.1rem solid #e7e7ea;
    
}

.footer ul{
    margin: 0.1rem;
    display: flex;
    padding-left: 0;
}

.footer .box1-footer-left{
    justify-self: left;
}

.footer .box2-footer-right{
    justify-self: right;
}




.footer ul li a{
    color: #7e7e80;
    margin: 1rem;
}

@media screen and (max-width:425px){
    
    .footer .box1-footer-left{
        display:none;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-main {
        margin-top: 10rem;
    }

    .footer ul li a{
        font-size: 1.2rem;
    }

    .footer ul li {
        margin-right: 3rem;
    }

}



@media screen and (min-width:768px){
    
    .container-main {
        margin-top: 20rem;
    }

    .footer ul li a{
        font-size: 1.2rem;
    }

    .footer ul li {
        margin-left: 1.5rem;
    }

    .input-container{
        height: 4.5rem;
        width: 50rem;
    }

    .input{
        height: 4rem;
        width: 38rem;
        border: none;
        outline: none;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .image{
        height: 15rem;
        width: auto;
    }

    .search{
        width: 1.8rem;
        height: 1.8rem;
    }

    .micro{
        background-image: url("./Images/micro_google.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.3rem;
    height: 2.3rem;
    }

    button{
        height: 4rem;
        width: 15rem;
        font-size: 1.6rem;
    }

    .footer .box1-footer-left li a{
        font-size: 1.4rem;
    }

    .footer .box2-footer-right li a{
        font-size: 1.4rem;
    }

}